__pycache__/
*.py[cod]
*$py.class
.Python

.env
*.env
*.key
*.json
secrets/
keys/

.git/
.gitignore
.mypy_cache/
.pytest_cache/
pytest-cache-files-*/
.tox/
.coverage
.coverage.*
.cache/
.history/

venv/
env/
.venv/

*.log
pip-log.txt
pip-delete-this-directory.txt
nosetests.xml
coverage.xml
*.cover
.DS_Store

tests/
README.md
Dockerfile
.dockerignore
